html,
body {
  color: grey;
  font-family: ubuntu;
  background-color: black;
}

h3 {
  font-family: "Arcade Interlaced";
  color: yellow;
}

@font-face {
  font-family: "Arcade Interlaced";
  font-style: normal;
  font-weight: normal;
  src: local("Arcade Interlaced"),
    url("assets/fonts/ARCADE_I.woff") format("woff");
}

@font-face {
  font-family: "Arcade Normal";
  font-style: normal;
  font-weight: normal;
  src: local("Arcade Normal"), url("assets/fonts/ARCADE_N.woff") format("woff");
}

@font-face {
  font-family: "Arcade Rounded";
  font-style: normal;
  font-weight: normal;
  src: local("Arcade Rounded"),
    url("/assets/fonts/ARCADE_R.woff") format("woff");
}
#app-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Arcade Interlaced";
}

#game-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  background-color: black;
  background-image: url("assets/marquee.jpg");
  border-style: solid;
  border-color: dodgerblue;
}

#score {
  display: flex;
  flex-direction: row;
}
#score > h3 {
  background-color: black;
}

#game-container {
  display: flex;
  flex-direction: row;
  /* border-style: solid; */
}

#game-container > h1 {
  text-align: center;
  color: purple;
}

#game-canvas {
  background-color: black;
  border-style: solid;
  border-color: darkseagreen;
}

#hi-score > h3 {
  display: flex;
  flex-direction: row;
  background-color: black;
}

.left-marquee {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  font-size: 42px;
  letter-spacing: 10px;
  text-shadow: 0px 0px 8px greenyellow;
}

.right-marquee {
  writing-mode: vertical-rl;
  font-size: 42px;
  letter-spacing: 15px;
  text-shadow: 0px 0px 8px greenyellow;
}
